{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- Check out the polls/urls file, the request below matches the url named in that file!! -->
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> </li> <span>{{ question.pub_date}}</span>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
